PORT=3000
DB_USER=sa
DB_PASSWORD=TuPassword
DB_SERVER=127.0.0.1
DB_PORT=1433
DB_DATABASE=PlanMaestroCDB
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_CONNECTION_TIMEOUT_MS=15000
DB_REQUEST_TIMEOUT_MS=15000
DB_CONNECT_GUARD_TIMEOUT_MS=20000
